<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="transaction">
      <h2 data-cy="transactionDetailsHeading"><span jhiTranslate="smarthackApp.transaction.detail.title">Transaction</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ transaction.id }}</span>
        </dd>
        <dt><span jhiTranslate="smarthackApp.transaction.senderAddress">Sender Address</span></dt>
        <dd>
          <span>{{ transaction.senderAddress }}</span>
        </dd>
        <dt><span jhiTranslate="smarthackApp.transaction.receiverAddress">Receiver Address</span></dt>
        <dd>
          <span>{{ transaction.receiverAddress }}</span>
        </dd>
        <dt><span jhiTranslate="smarthackApp.transaction.amount">Amount</span></dt>
        <dd>
          <span>{{ transaction.amount }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/transaction', transaction.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
