<div>
  <h2 id="page-heading" data-cy="ChallengeHeading">
    <span jhiTranslate="smarthackApp.challenge.home.title">Challenges</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="smarthackApp.challenge.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-challenge"
        [routerLink]="['/challenge/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="smarthackApp.challenge.home.createLabel"> Create a new Challenge </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="challenges?.length === 0">
    <span jhiTranslate="smarthackApp.challenge.home.notFound">No challenges found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="challenges && challenges.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="title">
            <span jhiTranslate="smarthackApp.challenge.title">Title</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="message">
            <span jhiTranslate="smarthackApp.challenge.message">Message</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="iconUrl">
            <span jhiTranslate="smarthackApp.challenge.iconUrl">Icon Url</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="rewardAmount">
            <span jhiTranslate="smarthackApp.challenge.rewardAmount">Reward Amount</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="icon.id">
            <span jhiTranslate="smarthackApp.challenge.icon">Icon</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let challenge of challenges; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/challenge', challenge.id, 'view']">{{ challenge.id }}</a>
          </td>
          <td>{{ challenge.title }}</td>
          <td>{{ challenge.message }}</td>
          <td>{{ challenge.iconUrl }}</td>
          <td>{{ challenge.rewardAmount }}</td>
          <td>
            <div *ngIf="challenge.icon">
              <a [routerLink]="['/icon', challenge.icon?.id, 'view']">{{ challenge.icon?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/challenge', challenge.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/challenge', challenge.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(challenge)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="challenges && challenges.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
