<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="challenge">
      <h2 data-cy="challengeDetailsHeading"><span jhiTranslate="smarthackApp.challenge.detail.title">Challenge</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ challenge.id }}</span>
        </dd>
        <dt><span jhiTranslate="smarthackApp.challenge.title">Title</span></dt>
        <dd>
          <span>{{ challenge.title }}</span>
        </dd>
        <dt><span jhiTranslate="smarthackApp.challenge.message">Message</span></dt>
        <dd>
          <span>{{ challenge.message }}</span>
        </dd>
        <dt><span jhiTranslate="smarthackApp.challenge.iconUrl">Icon Url</span></dt>
        <dd>
          <span>{{ challenge.iconUrl }}</span>
        </dd>
        <dt><span jhiTranslate="smarthackApp.challenge.rewardAmount">Reward Amount</span></dt>
        <dd>
          <span>{{ challenge.rewardAmount }}</span>
        </dd>
        <dt><span jhiTranslate="smarthackApp.challenge.icon">Icon</span></dt>
        <dd>
          <div *ngIf="challenge.icon">
            <a [routerLink]="['/icon', challenge.icon?.id, 'view']">{{ challenge.icon?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="smarthackApp.challenge.hashTags">Hash Tags</span></dt>
        <dd>
          <span *ngFor="let hashTags of challenge.hashTags; let last = last">
            <a [routerLink]="['/hash-tag', hashTags?.id, 'view']">{{ hashTags.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/challenge', challenge.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
